/* CSS CUSTOMIZATIONS IN THIS FILE */

/* achievers only */
#theArnProperty1508157 {
  display: none;
}
/* */

/* header styles */
header .headerLogo {
  padding: 0;
}

#orgHeader {
  border: none;
  background-color: rgb(0, 0, 0);
  padding: 0;
}

#orgHeader .cus-cont.cus-cont__header-nav_wrapper {
  width: 85%;
  margin: auto;
  padding: 0;
}

#orgHeader .cus-cont.cus-cont__header-nav_wrapper:after {
  display: table;
  content: '';
  clear: both;
}

#orgHeader .headerLogo {
  display: block;
  width: 20%;
  float: left;
  margin-left: 0;
  padding: 1.25% 0;
}

#orgHeader .headerLogo img {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1145px) and (max-width: 1300px) {
  #orgHeader .cus-cont.cus-cont__header-nav_wrapper {
    width: 975px;
  }
  #orgHeader .headerLogo img {
    width: 80%;
  }
  .orgNavStUl {
    margin-top: 28px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1450px) {
  #orgHeader .cus-cont.cus-cont__header-nav_wrapper {
    width: 1200px;
  }
  #orgHeader .headerLogo img {
    width: 70%;
    margin-left: 35%;
  }
  .orgNavStUl {
    margin-top: 34px;
  }
}

@media screen and (min-width: 1451px) {
  #orgHeader .cus-cont.cus-cont__header-nav_wrapper {
    width: 1325px;
  }
  #orgHeader .headerLogo img {
    width: 63%;
    margin-left: 47%;
  }
  .orgNavStUl {
    margin-top: 35px;
  }
}

/* header navigation */

.innactiveAnchor {
  cursor: default;
}

.cusCont__orgNav {
  display: block;
  width: 80%;
  float: left;
}

.orgNav ul {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.orgNav li {
  display: inline-block;
  position: relative;
  padding: 8px 12px;
  transition: background-color 0.2s linear;
  border-radius: 4px;
}

.orgNav li:hover {
  background-color: #f80000;
}

.orgNav li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  letter-spacing: 2px;
}

.orgNav li .orgSubNav {
  display: none;
  background: rgba(0, 0, 0, 1);
  right: 0;
  border-radius: 4px;
}

.orgNav .orgNavStUl li:hover .orgSubNav {
  display: block;
  position: absolute;
  text-align: left;
  margin-top: 8px;
}

.orgNav .orgNavStUl li:hover .orgSubNav li {
  display: block;
}

.orgNav .orgNavStUl li .orgSubNav li .orgSubNav {
  display: none;
  width: 100%;
  right: 100%;
  top: 0;
  padding: 0;
}

.orgNav .orgNavStUl li .orgSubNav li:hover .orgSubNav {
  display: block;
  position: absolute;
}

.orgNav .orgNavStUl li .orgSubNav li a {
  font-size: 16px;
  padding: 5px;
  width: 200px;
  display: inline-block;
}

.orgNav .orgNavStUl li .orgSubNav.orgSubNav__3d {
  width: 100%;
  left: 100%;
  top: 105px;
  transform: none;
  display: none;
}

.orgNav .orgNavStUl li .orgSubNav li:hover .orgSubNav.orgSubNav__3d {
  display: block;
}

/* mobile header nav */

.cusCont__orgMNavBar {
  display: none;
}

.cusCont__orgMNav {
  display: none;
}

@media screen and (max-width: 1145px) {
  #orgHeader .cusCont__orgNav .orgNav ul {
    display: none;
  }
}

@media screen and (max-width: 1145px) {
  #orgHeader {
    padding-left: 0;
  }
  #orgHeader .headerLogo {
    padding: 0;
    padding-left: 25px;
    width: 165px;
    margin-top: 12px;
  }
  #orgHeader .cusCont__orgMNavBar {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    margin: 25px 30px;
    padding-top: 9.5px;
    cursor: pointer;
  }
  #orgHeader .cusMBar {
    width: 25px;
    height: 2px;
    background: #c0c0c0;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 1px;
  }
  .cusCont__orgNav {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    background: black;
    top: 90px;
  }
  .cusCont__orgMNav,
  .cusCont__orgMNav {
    display: block;
  }

  .cusCont__orgMNav .orgMNav {
    width: 95%;
    margin: auto;
  }

  #orgHeader .cusCont__orgMNav .orgMNav ul {
    display: block;
  }

  .cusCont__orgMNav .orgMNav li {
    border: none;
    display: block;
    text-align: center;
  }

  .cusCont__orgMNav .orgMNav li:hover {
    background: rgba(0, 0, 0, 0.03);
  }

  .cusCont__orgMNav .orgMNav li .orgSubNav {
    display: block;
  }

  .cusCont__orgMNav .orgMNav li .orgSubNav li {
    padding: 0;
  }

  .cusCont__orgMNav .orgMNav li .orgSubNav li a {
    padding: 10px 0;
  }

  .cusCont__orgMNav .orgMNav li a {
    display: block;
    margin: 0;
    padding: 10px 5%;
    color: #fff;
    font-weight: 100;
  }
}

@media screen and (max-width: 385px) {
  #orgHeader .headerLogo {
    width: 120px;
    padding: 18px 0;
    padding-left: 15px;
  }
}

/* text header */

.textHeader {
  padding: 10px 30px;
  font-family: 'Open Sans', sans-serif;
}

.cusHostHotelInfo img {
  width: 225px;
}

.textHeader h4:last-child {
  color: #1f6ed4;
  background: #f1d374;
  width: 270px;
  text-align: center;
  padding: 10px 0;
  border: 1px solid;
  border-radius: 2px;
  font-weight: bold;
}

@media screen and (min-width: 1144px) {
  .cusHostHotelInfo img {
    width: 275px;
    position: absolute;
    left: 850px;
    margin-top: 45px;
  }
}

.textHeader .cusHostHotelInfo p {
  font-size: 14px;
}

/* results loaded body */

.SearchHotels #searchForm .ArnPrimarySearchOuterContainer {
  background-color: #616161;
}

#searchForm .ArnQuadSearchContainer.ArnPrimarySearchContainer {
  background-color: #616161;
}

#searchForm #theSubmitButton,
#searchForm #theOtherSubmitButton {
  background-color: #f80000;
}

/* landing page search form overrides */

.textHeader.textHeader--landing {
  width: 1000px;
  margin: auto;
  background: rgba(255, 255, 255, 0.45);
}

@media screen and (max-width: 1000px) {
  .textHeader.textHeader--landing {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .textHeader.textHeader--landing {
    margin-bottom: 30px;
  }
}

.ArnNoPropertyResults .ArnSearchContainerMainDiv:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.ArnNoPropertyResults .ArnSearchHotelsImg .reserveHotel {
  color: #fff;
  text-shadow: 2px 2px #555444;
}

.ArnNoPropertyResults #searchForm .ArnPrimarySearchOuterContainer .ArnGoCitySearch,
.ArnNoPropertyResults #searchForm .ArnPrimarySearchOuterContainer .ArnGoAddressSearch,
.ArnNoPropertyResults #searchForm .ArnPrimarySearchOuterContainer .ArnGoLandmarkSearch,
.ArnNoPropertyResults #searchForm .ArnPrimarySearchOuterContainer .ArnGoAirportSearch {
  display: inline-block;
  background-color: rgba(133, 96, 158, 0.6);
}

.ArnNoPropertyResults #searchForm .ArnPrimarySearchOuterContainer .ArnGoCitySearch.selectedTab,
.ArnNoPropertyResults #searchForm .ArnPrimarySearchOuterContainer .ArnGoAddressSearch.selectedTab,
.ArnNoPropertyResults #searchForm .ArnPrimarySearchOuterContainer .ArnGoLandmarkSearch.selectedTab,
.ArnNoPropertyResults #searchForm .ArnPrimarySearchOuterContainer .ArnGoAirportSearch.selectedTab {
  background-color: rgba(133, 96, 158, 0.8);
}

.ArnNoPropertyResults #searchForm .ArnQuadSearchContainer.ArnPrimarySearchContainer {
  background-color: rgba(236, 104, 61, 0.8);
}

.ArnNoPropertyResults #searchForm #theSubmitButton {
  background-color: rgb(133, 96, 158);
}

/* for IE */

.PropLimitedAvail .detailsOrNearbyLabel .propertiesNearbyLink {
  margin: -5px 0 0 !important;
}

/* listings page pagination */

@media screen and (min-width: 801px) {
  .ArnPagerContainer.bottomPager .ArnPages {
    text-align: left;
    font-size: 18px;
  }
}

/* maps */
.leaflet-popup-content .ArnGoogleMapInfo p {
  margin: 0;
}

/* IE only */
/*
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sub-footer__menu .sub-footer_item_title{
      color: #000000!important;
    }
  }
  
  .subHeader a:last-of-type{
      border: 1px solid #DC0000;
  }
  
  .subHeader .translateMe{
      color: #DC0000;
  }
  
  */

@media screen and (max-width: 800px) {
  .subHeader a {
    float: left;
  }
}
